.card {
	text-decoration: none;
	color: var(--color);

	border-width: 2px;
	border-style: solid;
	border-radius: 12px;
	border-color: var(--card-color);
	padding: 0.5rem;

	width: 30ch;
	height: 5rem;

	transition: all ease-in-out 100ms;
}

.card:hover {
	transition: all ease-in-out 100ms;

	background-color: var(--card-color);
	color: var(--bg)
	/* -webkit-box-shadow: 0px 0px 10px 4px var(--card-color);
	box-shadow: 0px 0px 10px 4px var(--card-color); */
}

.card-content {
	padding-left: 0.5rem;
}