.game-control-box {
	display: flex;
	flex-direction: column;
	align-items: center;

	/*height: calc(100dvh - 10rem);*/

	padding: 0 1rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	gap: 1rem;
}

.control-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.turn-indicator {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	line-height: 0;

	width: 8rem;

	border: 2px solid var(--turnColor);
	border-radius: 8px;
	padding: 0;
}

.turn-indicator h3 {
	text-align: center;
	margin: 0;
	padding: 1rem;
}

.turn-indicator div {
	width: 3rem;
	height: 3rem;

	border-radius: 8px;

	font-size: 2rem;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 0;

	color: var(--turnColor);
	background-color: var(--turnBgColor);

	overflow: hidden;
}

.control-panel .btn {
	width: 8rem;
	height: 3rem;

	align-self: center;
}

/* Side by side mode */
@media ((width > 900px)) {
	.game {
		height: min(80dvh, 80vw);
	}

	.game-control-box {
		flex-direction: row;
		align-items: self-start;
	}

	.control-panel {
		flex-direction: column;
		height: min(80dvh, 80vw);
	}
}

/* On top mode */
@media not ((width > 900px)) {
	.game {
		width: calc(min(100dvh - 12rem, 90dvw));
	}

	.control-panel {
		flex-direction: row;
	}
}

.game {
	/*--boardGap: 1rem;
	--cellGap: 0.5rem;*/

	--boardGap: 3%;
	--cellGap: 3%;

	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--boardGap);

	min-width: 300px;
	min-height: 300px;
	flex-shrink: 0;

	aspect-ratio: 1;
}

.game.active::before {
	content: "";
	position: absolute;
	top: -4px;
	left: -4px;
	bottom: -4px;
	right: -4px;
	border: 2px solid var(--turnColor);
	border-radius: 8px;
	z-index: -1;
}

.board {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--cellGap);

	width: 100%;
	height: 100%;

	min-width: 0;
	min-height: 0;
}

.board.active::before {
	content: "";
	position: absolute;
	top: -4px;
	left: -4px;
	bottom: -4px;
	right: -4px;
	border: 2px solid var(--turnColor);
	border-radius: 8px;
	z-index: -1;
}

.square {
	container-type: inline-size;

	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 0;

	overflow: hidden;

	color: var(--cellColor);
	background-color: var(--cellBgColor);
	border: 2px solid transparent;
	border-radius: 8px;

	transition: border-color 0.2s;
}

.square span {
	font-size: 100cqi;
}

.square:not(:disabled):hover {
	border-width: 2px;
	border-style: solid;
	border-color: var(--turnColor);
	border-radius: 8px;
}

.square:not(:disabled):focus-visible {
	outline: 2px solid #40d0f0;
	outline-offset: 2px;
}

.square.previous {
	border-width: 2px;
	border-style: solid;
	border-color: var(--cellColor);
	border-radius: 8px;
}

.bigCell {
	container-type: inline-size;

	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 14rem;
	line-height: 0;
	align-content: center;
	text-align: center;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	color: var(--cellColor);
	background-color: var(--cellBgColor);
	opacity: 0.6;

	border-radius: 8px;

	user-select: none;
	pointer-events: none;
}

.bigCell span {
	font-size: 100cqi;
}

.end-screen {
	position: absolute;
	/* width: 100%;
	height: 100%; */

	top: -4px;
	left: -4px;
	bottom: -4px;
	right: -4px;

	border-width: 2px;
	border-style: solid;
	border-color: var(--winColor);
	/* border-color: cyan; */
	border-radius: 8px;

	font-size: 4rem;

	opacity: 0.9;
	color: var(--winColor);
	background-color: var(--winBgColor);

	display: flex;
	justify-content: center;
	align-items: center;
}
